<!DOCTYPE html>
<html>

<head>
    <title>Client-Side Color Customization</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">

        <h1>Client-Side Color Customization</h1>
        <input type="text" id="colorInput" placeholder="Enter a color (e.g., red)">
        <button id="changeColor">Change Color</button>
        <button id="pollute">Pollute</button>

        <p id="currentColor">Current Color: None</p>
        <p id="pollutionStatus">Pollution Status: Not Polluted</p>

        <!-- Testing Form -->
        <h2>Test Pollution Effect</h2>
        <button id="testPollution">Create new Object and Test Object for Pollution</button>
        <p id="testResult">Test Result: Not Tested Yet</p>
    </div>

    <script src="/script.js"></script>
</body>

</html>